<div style="width: 30%; padding-left: 30px;">
  <mat-form-field style="width: 100%;">
    <mat-chip *ngFor="let file of fileList.controls" [selectable]="false" [removable]="true" (removed)="remove(file)">
    {{file.value.name}}
    <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input [matChipInputFor]="chipList" readonly>
    <div *ngIf="fileList.errors">
      <div class="text-danger" *ngFor="let typeError of fileList.errors.invalid_types">
          <span>- {{ typeError }}.</span>
      </div>
    </div>
    <input #hiddenFileInput type="file" multiple style="display: none;" (change)="add($event.target.files)"/> 
    <mat-icon matSuffix (click)="hiddenFileInput.click()">attach_file</mat-icon>
    <mat-chip-list #chipList>
    </mat-chip-list>
  </mat-form-field>
</div>